.women{
  background-color: #ed017f;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-self: center;
}
.women-pic{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;

}

@media screen and (max-width: 768px) {
  .women-pic {
    grid-template-columns: 1fr 1fr;
  }
}